<!doctype html>
<html>
<head>
    <title>Fish Game</title>
</head>
<body>
    <h1>Fish Game</h1>

    {% if username %}  <!-- If there is a username-->
    <p>Logged in as <strong>{{ username }}</strong> | <a href="/logout">Logout</a></p> <!-- show this line-->
    {% else %} <!-- otherwise-->
    <p><a href="/register">Register</a> | <a href="/login">Login</a></p> <!-- show this line-->
    {% endif %}

    <p>Count the fish and the chests:</p>
    
    <img src="{{ image_url }}" width="500">



    <form method="post" action="/guess">
        Fish: <input type="number" name="fish">
        Chests: <input type="number" name="chest">
        <button type="submit">Submit</button>
    </form>

    <p>Score: {{ score }}</p>
    <p>Rounds: {{ rounds }}</p>
    <p>Visits: {{ visits }}</p>
</body>
</html>